.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper > label {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.inputWrapper > input {
  width: 554px;
  height: 56px;
  padding: 10px 24px;
  border-radius: 20px;
  border: 1px solid #131313;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.inputWrapper > input::placeholder {
  color: #a5a5a5;
}
