.btn {
  width: 306px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  background-color: transparent;
  border-radius: 20px;
  background-color: #fff;
  color: #131313;
  border: 1px solid #131313;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

.btn:hover {
  background-color: #edeeef;
}

.btn__wide {
  width: 416px;
}

.btn:disabled {
  background-color: #dadada;
  border: none;
  color: #8a8f92;
  cursor: default;
  pointer-events: none;
}

.btn__black {
  background-color: #131313;
  border-color: #fff;
  color: #fff;
}

.btn__black:hover {
  background-color: #1a1a1a;
}

.btn__black:disabled {
  background-color: #515151;
  color: #7b7b7b;
}
