.lotCard {
  width: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #fff;
  color: #131313;
}

.lotCardName {
  width: 100%;
  white-space: nowrap; /* Запрет переноса текста на новую строку */
  overflow: hidden; /* Скрытие текста, который не помещается в контейнере */
  text-overflow: ellipsis; /* Замена не видимого текста на многоточие */
  text-align: center;
}

.lotCardDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.lotCardDescriptionPoints {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.lotCardDescriptionPoints > p {
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.lotCardDescriptionPoints > p > b {
  font-weight: 700;
}

.lotCardDescriptionPoints > p > span {
  font-weight: 500;
}

.lotCard.editable {
  width: 746px;
  height: fit-content;
  border-radius: 32px;
  border: 1px solid #000;
  align-items: flex-start;
  gap: 0;
}

.row {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 20px;
}

.row .lotCardDescription {
  width: 313px;
}

.row > .lotCardDescription {
  align-items: flex-start;
}

.lotCard.editable > hr {
  width: 100%;
  border: none;
  height: 1px;
  color: #d9dbe9;
  background-color: #d9dbe9;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 35.5px;
  padding-right: 35.5px;
  padding-bottom: 24.5px;
  padding-top: 16.5px;
}

.btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 281px;
  overflow: hidden;
  border-radius: 32px;
}

.imgContainerEditable {
  width: 176px;
  height: 148px;
}

.imgContainer > img {
  width: 100%;
}
