.menu {
  width: 306px;
  height: 244px;
  padding: 12px 0px;
  border-radius: 32px;
  background-color: #fff;
}

.menuItem {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 6px 10px 6px 40px;
  gap: 6px;

  border-radius: 32px;

  color: var(--text_black, #131313);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */

  cursor: pointer;
}

.menuItem:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      /* Уменьшили прозрачность до 0.1 */ rgba(0, 0, 0, 0.1) 100%
    ),
    rgba(255, 255, 255, 0.5); /* Увеличили прозрачность до 0.5 */
}

.active .menuItem {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    rgba(255, 255, 255, 0);
}

.menuItem > span {
  width: 20px;
  height: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuHome {
  background-image: url('../../assets/icons/home.svg');
}

.menuLots {
  background-image: url('../../assets/icons/sell.svg');
}

.menuBets {
  background-image: url('../../assets/icons/hammer.svg');
}

.menuNotifications {
  background-image: url('../../assets/icons/alert.svg');
}

.menuItem .menuLogout {
  background-image: url('../../assets/icons/auth.svg');
  width: 15px;
  height: 15px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  transform: rotate(180deg);
}
