.darkMain {
  background-color: #131313;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 128px;
}

.mainContent {
  padding: 80px 0;
}

.mainContent > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newLot {
  width: 1076px;
  border-radius: 32px;
  background-color: #fff;
  padding: 56px 110px;
}

.header {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 112.5% */
  color: #131313;
  text-align: center;
  margin-bottom: 28px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.inputWrapper > label {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  color: #131313;
}

.inputWrapper > input {
  height: 32px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #131313;
  background: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  outline: none;
}

.inputWrapper > input::placeholder {
  color: #a5a5a5;
}

.inputName {
  width: 416px;
}

.inputCategory {
  min-width: 306px;
  width: fit-content;
  max-width: 100%;
}

.photosWrapper {
  display: flex;
  gap: 24px;
}

.photoInputWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 146px;
  border-radius: 32px;
  border: 1px solid #131313;
  background: #fff;

  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  cursor: pointer;
}

.photoInputWrapper input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.photoInputWrapper > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.photoInputWrapper span {
  color: #131313;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration-line: underline;
  cursor: pointer;
}

.photoIcon {
  width: 48px;
  height: 48px;
  background-image: url('../../assets/icons/camera.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inputWrapper > textarea {
  width: 100%;
  height: 116px;
  border-radius: 32px;
  padding: 12px 32px;
  border: none;
  outline: none;
  resize: none;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */

  border: 1px solid #131313;
}

.row {
  display: flex;
  gap: 244px;
}

.bidInput {
  width: 306px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #131313;
  position: relative;
}

.bidInput > input {
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  position: relative;
  outline: none;
  z-index: 1;
  -moz-appearance: textfield;
}

.bidInput > input::-webkit-outer-spin-button,
.bidInput > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bidInput > input::placeholder {
  color: #707070;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.bidInput > span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  color: #707070;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.btnWrapper {
  width: 360px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.btnWrapper > button {
  width: 100%;
}
