main {
  padding-top: 128px;
}

section.dark {
  background-color: #131313;
  color: #fff;
  display: flex;
  justify-content: center;
}

.aucSection {
  display: flex;
  justify-content: center;
  padding-top: 92px;
  padding-bottom: 118px;
}

.aucSectionContent {
  width: calc(1440px - 72px * 2);
  display: flex;
  align-items: center;
  gap: 24px;
}

.aucSectionContent > img {
  width: 500px;
  height: 500px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left > h2 {
  height: 64px;
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 24px;
}

.scopeSection,
.popularSection,
.faqSection {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.scopeSectionContent,
.popularSectionContent,
.faqSectionContent {
  width: calc(1440px - 72px * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.scopeSectionContent > h2,
.popularSectionContent > h2,
.faqSectionContent > h2 {
  height: 64px;
  display: flex;
  align-items: center;
}

.lotList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 79px;
}

.faqSectionContent {
  gap: 52px;
}

.faqWrapper {
  width: 856px;
  padding: 40px;
  background-color: #fff;
  border-radius: 32px;
}

.row-title-text {
  font-weight: 700;
}

.scopeSection,
.faqSection {
  scroll-margin-top: 128px;
}

@media only screen and (max-width: 1440px) {
  .aucSection {
    padding: 60px 0;
  }

  .aucSectionContent {
    width: 636px;
    flex-direction: column;
    gap: 32px;
  }

  .aucSectionContent > img {
    width: 414px;
    height: 414px;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .left > h2 {
    font-size: 60px;
    margin-bottom: 8px;
    align-self: center;
  }

  .left > p {
    font-size: 20px;
  }

  .scopeSection,
  .popularSection,
  .faqSection {
    padding: 60px 0;
  }

  .scopeSectionContent,
  .popularSectionContent,
  .faqSectionContent {
    width: 630px;
  }

  .popularSectionContent {
    gap: 32px;
  }

  .scopeSectionContent > h2,
  .popularSectionContent > h2,
  .faqSectionContent > h2 {
    font-size: 56px;
  }

  .popularSectionContent > h2 {
    margin-bottom: 8px;
  }

  .lotList {
    gap: 24px;
  }

  .lotList > a:nth-child(3) {
    display: none;
  }

  .faqSectionContent {
    gap: 40px;
  }

  .faqWrapper {
    width: 100%;
    padding: 26px 40px;
  }
}

@media only screen and (max-width: 768px) {
  .aucSection {
    padding: 0 0 40px 0;
  }

  .aucSectionContent {
    width: 100%;
    gap: 16px;
  }

  .aucSectionContent > img {
    width: 328px;
    height: 328px;
  }

  .left {
    gap: 24px;
    align-items: center;
  }

  .left > h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 0;
    align-self: center;
    height: 40px;
  }

  .left > p {
    font-size: 16px;
    line-height: 24px;
  }

  .buttons > a > button {
    width: 156px;
  }

  .scopeSection,
  .popularSection,
  .faqSection {
    padding: 40px 0;
  }

  .aucSectionContent,
  .scopeSectionContent,
  .popularSectionContent,
  .faqSectionContent {
    width: 328px;
  }

  .popularSectionContent {
    gap: 32px;
  }

  .scopeSectionContent > h2,
  .popularSectionContent > h2,
  .faqSectionContent > h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    height: 40px;
  }

  .popularSectionContent {
    gap: 24px;
  }

  .popularSectionContent > h2 {
    margin-bottom: 0;
  }

  .lotList {
    flex-direction: column;
    gap: 20px;
  }

  .popularSectionContent > a > button {
    width: 328px;
  }

  .faqSectionContent {
    gap: 24px;
  }

  .faqWrapper {
    width: 100%;
    padding: 20px;
  }

  .scopeSection,
  .faqSection {
    scroll-margin-top: 96px;
  }
}
