.header {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 112.5% */
  margin-bottom: 28px;
}

.lotList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.rowBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.numberOfLots {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
}

.lotsArchive {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  letter-spacing: 0.2px;
  text-decoration-line: underline;
  color: #010101;
}

@media only screen and (max-width: 1440px) {
  .rowBtns {
    margin-bottom: 24px;
  }
}
