.row {
  width: 100%;
  display: flex;
  gap: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nameWrapper {
  display: flex;
  width: 306px;
  height: 68px;
  justify-content: center;
  align-items: center;

  border-radius: 32px;
  background-color: #fff;

  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
}

.content {
  width: 100%;
  min-height: 360px;
  border-radius: 32px;
  background-color: #fff;
  padding: 56px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #131313;
}

@media only screen and (max-width: 1440px) {
  .nameWrapper {
    width: 196px;
  }

  .content {
    min-height: unset;
    height: fit-content;
    justify-content: unset;
    padding: 32px 25px;
  }
}

@media only screen and (max-width: 768px) {
  .nameWrapper {
    height: 48px;
  }

  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
  }

  .content {
    padding: 24px;
  }
}
