.betsWrapper {
  width: 1076px;
  padding: 56px 110px;
  background-color: #fff;
  border-radius: 32px;
}

.betsContent {
  color: #131313;
}

.betsContent > h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 143.75% */
  margin-bottom: 24px;
}

.betListHeader {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.betListHeader > h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  width: 306px;
}

.betListHeader > h3:last-child {
  width: 179px;
}

.betListBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loadingBet {
  display: flex;
  gap: 282px;
}

.bet {
  display: flex;
  gap: 24px;
}

.bet > p {
  width: 306px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.bet > p:last-child {
  width: 179px;
}

.btnContainer {
  width: fit-content;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.btnContainer button {
  width: 362px;
}

@media only screen and (max-width: 1440px) {
  .betsWrapper {
    width: 100%;
    padding: 32px 20px;
  }

  .betsContent > h2 {
    line-height: 36px;
    margin-bottom: 20px;
  }

  .betListHeader {
    margin-bottom: 12px;
  }

  .betListHeader > h3 {
    font-size: 28px;
    line-height: 36px;
    width: 183px;
  }

  .loadingBet {
    display: flex;
    gap: 158px;
  }

  .bet > p {
    width: 183px;
  }

  .btnContainer {
    margin-top: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .betsWrapper {
    padding: 16px 12px;
  }

  .betsContent > h2 {
    font-size: 24px;
    margin-bottom: 12px;
    height: fit-content;
  }

  .betListHeader > h3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    width: 68px;
  }

  .betListHeader > h3:last-child {
    width: 100px;
  }

  .loadingBet {
    display: flex;
    gap: 41px;
  }

  .bet > p {
    width: calc(100% / 3);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 100% */
  }

  .btnContainer {
    margin-top: 24px;
    width: 100%;
  }

  .btnContainer button {
    margin-top: 24px;
    width: 100%;
  }
}
